/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&family=Work+Sans&display=swap');

/* Common styles */

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
    background-color: white;
    background-size: contain;
}


/* Header section styles */

.header {
    background-color: #FFF4E7;
    background-size: contain;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 230px 100px 230px;
}

.header-title {
    font-weight: 700;
    font-size: 45px;
}

.nav-options {
    display: flex;
    gap: 60px;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
}

.nav-options li a {
    text-decoration: none;
    color: #424242;
}

/* Banner styles */
.banner-container {
    text-align: center;
}

.banner-text {
    text-align: center;
    padding: 0 400px;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 64px;
}

.banner-desc {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 30px 0;
}

.btn-primary {
    background: #FF900E;
    padding: 20px 24px;
    border-radius: 8px;
    border-style: none;
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.banner-img {
    width: 75%;
    height: 75%;
    margin-bottom: 45px;
}

/* Main section styles */

/* Feature section styles */

.feature {
    display: flex;
}

.feature-images {
    height: 708px;
    width: 708px;
    margin: 85px 70px 120px 175px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.feature-img {
    width: 342px;
    height: 342px;
}

.feature-info {
    margin: 250px 175px 0 0;
}

.feature-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.feature-desc {
    margin: 24px 0 32px 0;
}

.feature-spec-first {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.feature-spec-second {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

/* Feature list styles */

.feature-list-container {
    display: flex;
    gap: 145px;
    margin: 0 140px 0 175px;
}

.feature-list-text {
    width: 30%;
    height: 50%;
}

.feature-list-title {
    font-weight: 700;
    font-size: 45px;
    border-left: 5px solid #FF900E;
    padding: 20px;
}

.feature-list-desc {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 24px 0 10px 0;
}

.f-list {
    margin: 20px 0;
    width: 100%;
}

.f-list-title {
    padding: 30px 0 10px 33px;
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.f-list-desc {
    padding: 0 42px 30px 30px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}


.feature-img-container {

    position: relative;
    height: 55%;
    width: 40%;
}

.feature-list-img {
    width: 708px;
    height: 982px;
}

.btn-secondary {
    padding: 45px 42px;
    background-color: #FF900E;
    border-radius: 8px;
    border-style: none;
    color: white;
    text-align: center;
    z-index: 9;
    margin: 900px -775px;
}


.btn-header {
    font-weight: 700;
    font-size: 65px;
}

.btn-text {
    font-weight: 500;
    font-size: 25px;
}

/* Media Query Section */

@media only screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 60px;
        padding: 50px 0 100px 0;
    }

    .nav-options {
        flex-direction: column;
    }

    .banner-title {
        font-size: 40px;
    }

    .banner-text {
        padding: 0 75px 30px 75px;
        ;
    }

    .banner-img {
        width: 85%;
        height: 85%;
    }

    .feature {
        flex-direction: column;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
    }

    .feature-images {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        justify-items: center;
        align-items: center;
        height: auto;
        width: 100%;
    }

    .feature-info {
        margin: 50px 10px;
        text-align: center;
    }

    .feature-list-container {
        flex-direction: column;
        margin: 30px;
        margin-bottom: 0;
    }

    .feature-list-title {
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        padding: 0;
        padding-bottom: 20px;
        border-left: none;
        border-bottom: 5px solid #FF900E;
    }

    .feature-list-text {
        width: 100%;
        height: auto;
    }

    .feature-img-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        position: relative;
        height: auto;
        width: 100%;
    }

    .feature-list-img {
        width: 100%;
        height: 100%;
    }

    .btn-secondary {
        margin: auto;

}
}