/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&family=Work+Sans&display=swap');

/* Common styles */

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
    background-color: white;
    background-size: contain;
}


/* Header section styles */

.header {
    background-color: #FFF4E7;
    background-size: contain;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 230px 100px 230px;
}

.header-title {
    font-weight: 700;
    font-size: 45px;
}

.nav-options {
    display: flex;
    gap: 60px;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
}

.nav-options li a {
    text-decoration: none;
    color: #424242;
}

/* Banner styles */
.banner-container {
    text-align: center;
}

.banner-text {
    text-align: center;
    padding: 0 400px;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 64px;
}

.banner-desc {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 30px 0;
}

.btn-primary {
    background: #FF900E;
    padding: 20px 24px;
    border-radius: 8px;
    border-style: none;
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.banner-img {
    width: 75%;
    height: 75%;
    margin-bottom: 45px;
}

/* Main section styles */

/* Work section styles */

.works {
    background-image: url(../images/works/work-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 10px;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    margin: 100px 150px 100px;
}

.work-text {
    width: 540px;
    margin: auto;
    text-align: center;
    border-radius: 35px;
    background-color: #fcfbfbdb;
}

.work-title {
    margin-top: 150px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding-top: 20px;
}

.work-desc {
    font-weight: 400;
    font-size: 16px;
    color: #2f2f2f;
    margin-top: 24px;
}

.work-quote {
    font-weight: 500;
    font-size: 16px;
    color: #131313;
    margin-top: 15px;
    padding-bottom: 20px;
}

.work-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.work-img {
    height: 350px;
    width: 350px;
    border-radius: 35px;
    transition: all 500ms ease;
}

.work-list-title {
    text-align: center;
    border-radius: 35px;
    background-color: #fcfbfbdb;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
}

.work-img:hover {
    border: 3px dotted #ffffff2b;
    color: #000000;
    background: rgba(0, 0, 0, 0);
}

/* Feature section styles */

.feature {
    display: flex;
}

.feature-images {
    height: 708px;
    width: 708px;
    margin: 85px 70px 120px 175px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.feature-img {
    width: 342px;
    height: 342px;
}

.feature-info {
    margin: 250px 175px 0 0;
}

.feature-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.feature-desc {
    margin: 24px 0 32px 0;
}

.feature-spec-first {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.feature-spec-second {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

/* Feature list styles */

.feature-list-container {
    width: 100%;
    display: flex;
    gap: 145px;
    margin: 0 140px 0 175px;
}

.feature-list-text {
    width: 30%;
    height: 50%;
}

.feature-list-title {
    font-weight: 700;
    font-size: 45px;
    border-left: 5px solid #FF900E;
    padding: 20px;
}

.feature-list-desc {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 24px 0 10px 0;
    box-shadow: 20px 20px 20px 20px #F7F7F7;
}

.f-list {
    margin: 20px 0;
    width: 100%;
    box-shadow: 20px 20px 20px 20px #F7F7F7;
    border-radius: 8px;
}

.f-list-title {
    padding: 30px 0 10px 33px;
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.f-list-desc {
    padding: 0 42px 30px 30px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}


.feature-img-container {

    position: relative;
    height: 55%;
    width: 40%;
}

.feature-list-img {
    width: 708px;
    height: 982px;
}

.btn-secondary {
    padding: 45px 42px;
    background-color: #FF900E;
    border-radius: 8px;
    border-style: none;
    color: white;
    text-align: center;
    z-index: 9;
    margin: 900px -775px 0;
}


.btn-header {
    font-weight: 700;
    font-size: 65px;
}

.btn-text {
    font-weight: 500;
    font-size: 25px;
}

/* Fact section styles  */

.fact-text {
    margin: 140px 0px 145px 175px;

}

.fact-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.fact-desc {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 24px;
    width: 550px;
}

.fact-box-container {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin: 0 175px;
}

.fact-box {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    transition: all 500ms ease;
    height: 240px;
    width: 240px;
}

.fact-box:hover {
    transform: rotate(360deg) translate(25px, 50px);
}

.fact-box-img {
    height: 46px;
    width: 46px;
    margin-top: 40px;
}

.fact-box-number {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    text-align: center;
}


.fact-box-desc {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    text-align: center;
    margin: 0 60px 60px 60px;
}

/* Sponsor section styles */

.sponsor-text-container {
    width: 540px;
    margin: auto;
    text-align: center;
}

.sponsor-title {
    margin-top: 180px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.sponsor-desc {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 50px;
}

.sponsor-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;

    margin: auto;
}

/* Footer section styles */

.footer {
    margin: 130px 175px 216px 175px;
    text-align: center;
    padding-bottom: 216px;
}

.footer-text {
    background-color: #FFF4E7;
    border-radius: 8px;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    padding: 40px 400px;
    overflow: hidden;
    text-align: center;
}

/* Media Query Styles Section  */

/* For Mobile Devices */

@media only screen and (max-width:576px) {

    /* header section */

    .nav-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 60px;
        padding: 50px 0 100px 0;
    }

    .nav-options {
        flex-direction: column;
    }

    .banner-title {
        font-size: 40px;
    }

    .banner-text {
        padding: 0 75px 30px 75px;
        ;
    }

    .banner-img {
        width: 85%;
        height: 85%;
    }

    /* Works section */

    .works {
        padding: 0;
        padding-bottom: 20px;
    }

    .work-text {
        margin: 0;
        border-radius: 0;
        text-align: center;
        width: 100%;
        height: auto;
    }

    .work-list {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    /* Feature section */

    .feature {
        flex-direction: column;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
    }

    .feature-images {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        justify-items: center;
        align-items: center;
        height: auto;
        width: 100%;
    }

    .feature-info {
        margin: 50px 10px;
        text-align: center;
    }

    /* Feature list section */

    .feature-list-container {
        flex-direction: column;
        gap: 75px;
        margin: 0px;
        margin-bottom: 0;
        align-items: center;
    }

    .feature-list-title {
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        padding: 20px;
        border-left: none;
        border-bottom: 5px solid #FF900E;
    }

    .feature-list-text {
        width: 100%;
        height: auto;
        width: 350px;
        margin: 0;
        padding: 0;
    }

    .feature-list-title {
        width: 350px;
    }

    .feature-list-desc {
        text-align: center;
        width: 350px;
        margin: 20px 0;
        padding: 0;
    }

    .feature-img-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
        position: relative;
        height: auto;
        width: 100%;
    }

    .feature-list-img {
        width: 80%;
        height: 80%;
    }

    .btn-secondary {
        margin: 40px;
    }

    .btn-header {
        font-weight: 700;
        font-size: 45px;
    }

    .btn-text {
        font-weight: 500;
        font-size: 20px;
    }

    /* Fact section */

    .fact-text {
        margin: 10px;
        text-align: center;
    }

    .fact-title{
        text-align: center;
    }
    .fact-desc {
        width: 350px;
        text-align: center;
        margin: auto;
        margin-top: 10px;
    }

    .fact-box-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin: 0;
    }

    .fact-box {
        padding: 35px;
        text-align: center;
        margin: 30px;
        height: 200px;
        width: 200px;
    }

    .fact-box-desc {
        margin: 0 10px 40px 10px;
    }

    .fact-box-img {
        margin-top: 0;
    }

    /* Sponsor section */

    .sponsor-text-container {
        width: 350px;
    }

    .sponsor-title {
        margin-top: 75px;

    }


    .sponsor-logo-container {
        flex-direction: column;
        gap: 75px;
    }

    /* Footer section */

    .footer {
        background-color: #FFF4E7;
        align-items: center;
        width: 100%;
        margin: 80px 0px 10px 0px;
        padding: 0;
    }

    .footer-text {
        padding: 20px 10px;
    }

}